// body {
//     min-height: 100vh;
// }
@keyframes rotate {
	0%, 50% {
		transform: rotate(0deg) translateY(0px) translateX(0px) rotate(0deg);
	}
}

nav {
    min-height: 10vh;
}
.main {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    #centre {
        position: relative;
        left: 50%;
        top: 50%;
        transform: rotateZ(0.01deg); /* IE 10 bug */
        i {
            color: white;
        }
    }
    .circle {
        position: absolute;
        background-color: fuchsia;
        height: 150px;
        width: 150px;
        left: -75px;
        top: -75px;
    }
    .main-circle {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 999;
        // height: 300px;
        // width: 300px;
    }
    .outer {
        animation: rotate 2s ease-out 1;
        height: 100px;
        width: 100px;
        left: -50px;
        top: -50px;
    }
    .at-1-oclock {
        background-color: red;
        transform:  translateY(200px) ;
    }
    
    .at-2-oclock {
        background-color: yellow;
        transform: rotate(-140deg) translateY(200px) rotate(140deg);
    }
    
    .at-3-oclock {
        background-color: green;
        transform: rotate(-120deg) translateY(200px)  rotate(120deg);
        z-index: 2;
    }
    
    .at-4-oclock {
        background-color: blue;
        transform: rotate(-100deg) translateY(200px) rotate(100deg);
        z-index: 1;
    }
    
    .at-5-oclock {
        background-color: purple;
        transform: rotate(-80deg) translateY(200px) rotate(80deg);
    }
    .at-6-oclock {
        background-color: red;
        transform: rotate(-60deg) translateY(200px) rotate(60deg);
    }
    
    .at-7-oclock {
        background-color: yellow;
        transform: rotate(80deg) translateY(200px) rotate(-80deg);
    }
    
    .at-8-oclock {
        background-color: green;
        transform: rotate(100deg) translateY(200px)  rotate(-100deg);
        z-index: 2;
    }
    
    .at-9-oclock {
        background-color: blue;
        transform: rotate(120deg) translateY(200px) rotate(-120deg);
        z-index: 1;
    }
    
    .at-10-oclock {
        background-color: purple;
        transform: rotate(140deg) translateY(200px) rotate(-140deg);
    }

    .at-11-oclock {
        background-color: purple;
        transform: rotate(160deg) translateY(200px) rotate(-160deg);
    }
}