// body {
//     min-height: 100vh;
// }
@keyframes rotate {
	0%, 50% {
		transform: rotate(0deg) translateY(0px) translateX(0px) rotate(0deg);
	}
}

nav {
    .ul {
        display: flex;
        justify-content: center;
    }
}
.main {
    display: flex;
    justify-content: center;
    min-height: 83vh;
    #centre {
        position: relative;
        left: 50%;
        top: 50%;
        transform: rotateZ(0.01deg); /* IE 10 bug */
        i {
            color: blue;
        }
    }
    .circle {
        position: absolute;
        height: 150px;
        width: 150px;
        left: -75px;
        top: -75px;
    }
    .main-circle {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        // z-index: 999;
        // height: 300px;
        // width: 300px;
    }
    .outer {
        animation: rotate 2s ease-out 1;
        height: 80px;
        width: 80px;
        left: -40px;
        top: -40px;
    }
    .at-1-oclock {
        background-color: red;
        transform:  translateY(200px) translateX(400px);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .at-2-oclock {
        background-color: yellow;
        transform: translateY(150%) translateX(200%);
    }
    
    .at-3-oclock {
        background-color: green;
        transform: translateY(50px) translateX(300px);
        
    }
    
    .at-4-oclock {
        background-color: blue;
        transform:  translateY(20px) translateX(500px);
    }
    
    .at-5-oclock {
        background-color: purple;
        transform: translateY(200px) translateX(200px);
    }
    .at-6-oclock {
        background-color: purple;
        transform: translateY(-200px) translateX(200px);
    }
    
    // .at-7-oclock {
    //     background-color: yellow;
    //     transform: translateY(-200px) translateX(600px);
    // }
    
    .at-8-oclock {
        background-color: green;
        transform: translateY(-200px) translateX(150px);
        z-index: 2;
    }
    
    .at-9-oclock {
        background-color: blue;
        transform: translateY(-280px) translateX(300px);
        z-index: 1;
    }
    
    .at-10-oclock {
        background-color: purple;
        transform: translateY(200px) translateX(200px);
    }

    .at-11-oclock {
        background-color: purple;
        transform: translateY(200px) translateX(200px);
    }
}